/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

/* * :after, :before {
    box-sizing: border-box;
}*/

html,body{margin: 0; padding: 0;}





/* .row{margin: 30px;  box-shadow: 1px 1px 2px 1px lightgray; width: 95%; padding: 30px; }
 .col{color: black; font-size: 16px; font-weight: 600;}
 .s4{color: black; font-size: 20px; font-weight: 600;  height: 50px; margin: 0 0; }


 .s10{color: black; padding:0 30px; background-color: whitesmoke; transition: all .1s linear;}

 .s10:hover{background-color: lightgray;}  */


/* .select {
  margin: 30px;
    box-shadow: 1px 1px 2px 1px red;
     width: 90%;
} */

 /* nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
} */

/* button{
  position: relative;
  top: 110px;
  right: 200px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: #333;
} */

/* .contDate {
  width: 100px;
  display: flex;

  align-items: flex-start;
  flex-direction: column;
} */

/* .contDateSelect {
  width: 660px;
  display: flex;
  
}

.input-field {
  padding-left: 15px;
} */


/* .css-yk16xz-control{padding: 0;}

button:visited{border: none; background-color: #fff; }

#Origin{
  border: 1px solid gray;
} */


.container_app{ justify-content: center; align-content: center; padding: 30px 0;}
.react{ text-align: center; font-size: 36px; font-family: 'Courier New', Courier, monospace;}



/* .text-td{text-align: center; }
.end_content_table{background-color:#cfcccc}
.end_content_table:hover{background-color: lightgray;} */



.nav-item{padding: 0 10px; display: flex; }



.intl-tel-input {
  display: table-cell;
}

.intl-tel-input .selected-flag {
  z-index: 4;
}

.intl-tel-input .country-list {
  z-index: 5;
}

.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

.btn{background: #2f496e linear-gradient(180deg,#4e6484,#2f496e) repeat-x;
  border-color: #2f496e; color: white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.card-header{
  background-color: #2f496e!important;
  color: #fff
 
}

.text-primary{
  cursor:pointer;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.login{
  display: flex;
  height: calc(100vh - 60px);
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}


#book{background-image: url("https://cdn.leisurex.org/home-bg.jpg");}


header {
    position: relative;
    width: 100%;
    min-height: 25rem;
    margin-top: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

header > .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #000;
}
header .container {
  position: relative;
  z-index: 2;
}
.active{color: black; background-color: white; border-width: 2px 2px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: solid; border-top-color: white; border-right-color: white; border-bottom-color: initial; border-left-color: white; border-image: initial;}

.nav_1{color: white; background-color: transparent; border-width: 2px 2px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: initial; border-left-style: solid; border-top-color: white; border-right-color: white; border-bottom-color: initial; border-left-color: white; border-image: initial;}

.card_1{
  border-radius: 0px 5px 5px; border: 2px solid white; background-color: transparent;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}



.btn-group{border: 2px solid rgb(255, 255, 255); border-radius: 0.25rem;}

.rbt{position: relative;}
.rbt-input-hint{
  left: 0px; pointer-events: none; position: absolute; top: 0px; display: inline-block;
}

.input_1{
  background-color: transparent; border-color: transparent; box-shadow: none; color: rgba(0, 0, 0, 0.35); box-sizing: content-box; width: 3px; border-style: solid; border-width: 1px; font-size: 16px; line-height: 24px; margin: 0px; padding: 6px 12px;
}

.img_1{max-width: 75%; height: 250px;}

.info-heading {
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  
}

.info-section.inverse {
  background: #fff!important;
}
.info-section {
  padding: 50px;
  background-color: #000;
}

.info-section.inverse .card, .info-section.inverse .info-heading {
  color: #000;
}
.info-section .card {
  color: #fff;
  border: 0;
  background: transparent;
}




.testimonial.dark {
  color: #fff;
  background-color: #000;
}


.footer-logo {
  height: 24px;
  margin-bottom: 5px;
}

.input_area{background-color: transparent; border-color: transparent; box-shadow: none; color: rgba(0, 0, 0, 0.35); box-sizing: content-box; width: 3px; border-style: solid; border-width: 1px; font-size: 16px; line-height: 24px; margin: 0px; padding: 6px 12px;}
.input_style{height: 0px; left: 0px; overflow: scroll; position: absolute; top: 0px; visibility: hidden; white-space: pre; font-size: 16px; font-family: sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;}

.info-section .card-img-top {
  padding-top: 1.25rem;
}


.info-section .card-body {
  padding: 1.25rem 1.25rem 0;
}

.info-section .card-title {
  text-transform: uppercase;
}


.card_1{align-items: center;
justify-content: center;
}

.card_2{color: gold!important;}


.info-section .card-title {
    text-transform: uppercase;
}


.font-bold {
  font-weight: 500;
  font-size: 1.5rem;
}

.card .card-badge {
  position: absolute;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
}
.flightClass {
  top: 10px;
  left: -10px;
  background: #73706c;
}

.card .card-badge {
  position: absolute;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
}
.savings {
  top: 10px;
  right: -10px;
  background: #2f496e;
}

.card-text {
  text-transform: uppercase;
}

.mr-1 {
  font-weight: 300;
  font-size: 0.9rem;
  text-decoration: line-through;
}

.faq-section.inverse {
  background: #fff!important;
}

.faq-section.inverse .faq-heading, .faq-section.inverse .faqs .card {
  color: #000;
}
.faq-heading {
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  color: #fff;
}

.faqs .card-header {
  margin-bottom: 0!important;
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: #000;
}
.faq-section.inverse .faq-heading, .faq-section.inverse .faqs .card {
  color: #000;
}

.faq-section.inverse .faqs .card section {
  background: #fff;
}

.faq-section.inverse .faqs .card-header {
  color: #000;
  background-color: #fff!important;
}

.w_leisurex{
  display: inline-block;
  max-width: 90%;
}

.faqs .card-header.collapsed:after {
  content: "\F067";
}
.faqs .card-header:after {
  font-family: Font Awesome\ 5 Brands,Font Awesome\ 5 Free;
  font-weight: 900;
  float: right;
  content: "\F068";
}

.faqs .card-body {
  border: 0;
}
.faqs .card {
  color: #fff;
  border: 0;
}

.faqs .card-title {
  text-transform: uppercase;
}

.p-text{font-weight: bold;}